@{
    Layout = "_Layout";
}

<!doctype html>
<html class="no-js" lang="zxx">

<body>

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-9 col-md-9 col-md-12">
                            <div class="slider_text text-center">
                                <div class="deal_text">
                                    <span>DEVLOP BURGER</span>
                                </div>
                                <h3>
                                    Lezzetli Hamburger 'in<br>
                                </h3>
                                <h4>Kodu</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-9 col-md-9 col-md-12">
                            <div class="slider_text text-center">
                                <div class="deal_text">
                                    <span>Seçilmiş Büyük Burger</span>
                                </div>
                                <h3>
                                    Devlop <br>
                                    Burger
                                </h3>
                                <h4>Yazılımcı Usulü</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <div class="best_burgers_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-80">
                        <span>Burger Menu</span>
                        <h3>En İyİ Hamburgerler</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="~/Templete/burger-master/img/burger/1.png" alt="">
                        </div>
                        <div class="info">
                            <h3>Json Burgers</h3>
                            <p>
                                İşletmenizin güvenilir ve ilgili görünmesi için harika bir yol.
                            </p>
                            <span>250₺</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="~/Templete/burger-master/img/burger/2.png" alt="">
                        </div>
                        <div class="info">
                            <h3>Select Burger</h3>
                            <p>Hızlı, keyifli ve doyurucu bir atıştırmalık.</p>
                            <span>300₺</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="~/Templete/burger-master/img/burger/3.png" alt="">
                        </div>
                        <div class="info">
                            <h3>Burger Biz</h3>
                            <p>
                                Lezzetli, doyurucu ve her zaman favori bir seçenek..
                            </p>
                            <span>230₺</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="~/Templete/burger-master/img/burger/4.png" alt="">
                        </div>
                        <div class="info">
                            <h3>EmptyBurger</h3>
                            <p>Basit ama doyurucu, mükemmel bir atıştırmalık..</p>
                            <span>245₺</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="~/Templete/burger-master/img/burger/5.png" alt="">
                        </div>
                        <div class="info">
                            <h3>Dependecy Burgers</h3>
                            <p>Lezzetin tam adresi, her ısırıkta mutluluğa giden yol..</p>
                            <span>205₺</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="~/Templete/burger-master/img/burger/6.png" alt="">
                        </div>
                        <div class="info">
                            <h3>OOP Burgers</h3>
                            <p>Harika bir lezzet deneyimi! Her ısırıkta mutluluğu hissediyorsunuz.</p>
                            <span>230₺</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="~/Templete/burger-master/img/burger/7.png" alt="">
                        </div>
                        <div class="info">
                            <h3>Identity Burger</h3>
                            <p>Benzersiz bir lezzet deneyimi! Hamburgerleri burada yemek gerçekten ayrıcalıklı bir his.</p>
                            <span>310₺</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="~/Templete/burger-master/img/burger/8.png" alt="">
                        </div>
                        <div class="info">
                            <h3>Razor Burger</h3>
                            <p>Her lokmada lezzetin doruklarına ulaştım! Kesinlikle denemelisiniz..</p>
                            <span>295₺</span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="section_title text-center mb-80">
                <span>Bu Lezzet şöleniyle kavuşmak için ne bekliyorsun !<br /> Haydi Siparişini Oluştur! </span>
            </div>
        </div>
    </div>
</body>

</html>
@RenderBody()