@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Burger</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- header-start -->
    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg_1 overlay">
        <h3>Devlop Burger Hakkında </h3>
    </div>
    <!-- bradcam_area_end -->
    <!-- about_area_start -->
    <div class="about_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="about_thumb2">
                        <div class="img_1">
                            <img src="~/Templete/burger-master/img/about/1.png" alt="">
                        </div>
                        <div class="img_2">
                            <img src="~/Templete/burger-master/img/about/2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 offset-lg-1 col-md-6">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <span>Hakkımızda</span>
                            <h3>
                                Şehrİnİzdekİ <br>
                                En İyİ Burger
                            </h3>
                        </div>
                        <p>
                            Lezzetin Simgesi: DEVLOP Hamburger <br />
                            Hamburger, dünya genelinde sevilen ve popülerliği hiç azalmayan bir fast-food ikonudur. Kökeni Amerika'ya dayanan bu lezzetli yiyecek, sadece bir sandviçten çok daha fazlasını temsil eder. Hamburger, basit ancak güçlü bir lezzet kombinasyonunu sunar: ızgara köfte, taze sebzeler, çeşitli soslar ve gevrek ekmek arasında mükemmel bir denge.

                            Hamburgerin ana bileşenleri genellikle bir köfte, hamburger ekmeği, marul, domates, soğan, peynir, turşu ve soslar olarak sıralanabilir. Ancak, her bireyin damak tadına göre çeşitli varyasyonlar ve eklemeler yapılabilmektedir. Kimi daha sade bir lezzet isterken, kimileri daha karmaşık ve zengin bir tadı tercih edebilir.

                            Hamburger, sokak satıcılarından restoranlara, hatta lüks yemek mekanlarına kadar hemen her yerde bulunabilir. Fast-food endüstrisinin vazgeçilmez bir parçası olan hamburger, hızlı ve doyurucu bir öğün olmasının yanı sıra lezzet ve çeşitlilik açısından da zengin bir seçenek sunar.

                            Ayrıca, hamburger kültürü giderek evrimleşmekte ve çeşitlenmektedir. Vegan ve vejetaryen seçeneklerin artmasıyla, sağlıklı ve çevreye duyarlı alternatifler de sunulmaktadır. Ayrıca, geleneksel tariflere modern dokunuşlar yapılarak, her zevke hitap eden yeni tatlar ortaya çıkmaktadır.

                            Hamburger, sadece bir yiyecek değil, aynı zamanda bir kültür ve sosyal deneyimdir. Arkadaşlar arasında paylaşılan bir öğün, ailece yenilen bir akşam yemeği veya iş arkadaşlarıyla hızlı bir mola için ideal bir seçenektir. Hamburger, insanları bir araya getiren, keyifli ve tatmin edici bir deneyim sunar.

                            Sonuç olarak, hamburger dünya mutfağının önemli bir parçasıdır ve zamansız bir lezzet ikonu olarak varlığını sürdürmektedir. Her ne kadar basit bir sandviç gibi görünse de, hamburger aslında lezzetli bir gastronomi yolculuğudur ve her ısırık, damaklarda unutulmaz bir tat bırakır.
                        </p>
                        <div class="img_thumb">
                            <img src="~/Templete/burger-master/img/jessica-signature.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->
    <!-- gallery_start -->
    <div class="gallery_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-70 text-center">
                        <span>Galleri Fotoğrafları</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_gallery big_img">
            <a class="popup-image" href="img/gallery/1.png">
                <i class="ti-plus"></i>
            </a>
            <img src="~/Templete/burger-master/img/gallery/1.png" alt="">
        </div>
        <div class="single_gallery small_img">
            <a class="popup-image" href="img/gallery/2.png">
                <i class="ti-plus"></i>
            </a>
            <img src="~/Templete/burger-master/img/gallery/2.png" alt="">
        </div>
        <div class="single_gallery small_img">
            <a class="popup-image" href="img/gallery/3.png">
                <i class="ti-plus"></i>
            </a>
            <img src="~/Templete/burger-master/img/gallery/3.png" alt="">
        </div>

        <div class="single_gallery small_img">
            <a class="popup-image" href="img/gallery/4.png">
                <i class="ti-plus"></i>
            </a>
            <img src="~/Templete/burger-master/img/gallery/4.png" alt="">
        </div>
        <div class="single_gallery small_img">
            <a class="popup-image" href="img/gallery/5.png">
                <i class="ti-plus"></i>
            </a>
            <img src="~/Templete/burger-master/img/gallery/5.png" alt="">
        </div>
        <div class="single_gallery big_img">
            <a class="popup-image" href="img/gallery/6.png">
                <i class="ti-plus"></i>
            </a>
            <img src="~/Templete/burger-master/img/gallery/6.png" alt="">
        </div>
    </div>
    <!-- testimonial_area_start  -->
    <div class="testimonial_area ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-60 text-center">
                        <span>Referanslar</span>
                        <h3>Mutlu Müşterİ</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <p>
                                            "Hamburgeri seven biri olarak, bu restoranın sunduğu deneyim beni gerçekten etkiledi. İşte bu! Tam olarak aradığım lezzeti buldum. Köftesi tam kıvamında, sebzeler taptaze ve ekmek nefisti. Menüdeki çeşitlilik beni şaşırttı ve her zevke uygun bir seçenek bulmak mümkün. Servis hızlı ve personel son derece güleryüzlüydü. Bir daha ki sefere kesinlikle tekrar geleceğim. Hamburgerim için başka bir yer aramama gerek yok, burası benim yeni favori mekanım oldu!"
                                        </p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                <img src="img/testmonial/1.png" alt="">
                                            </div>
                                            <h4>Karsu Dönmez</h4>
                                            <div class="stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <p>
                                            "Bugün burada yediğim hamburger gerçekten harikaydı! Lezzet, kalite ve hizmet mükemmeldi. Köfte tam istediğim gibi pişmişti ve ekmeği taptazeydi. Yanında servis edilen patates kızartması da muhteşemdi. Restoranın atmosferi samimi ve sıcaktı, bu da yemeğimi daha keyifli hale getirdi. Personel çok yardımsever ve dostça davrandı. Buraya ilk gelişim değil ve kesinlikle son olmayacak. Hamburger tutkunları için kesinlikle tavsiye ederim, pişman olmayacaksınız!"
                                        </p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                <img src="~/Templete/burger-master/img/testmonial/2.png" alt="">
                                            </div>
                                            <h4>Fırat Tanış</h4>
                                            <div class="stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <p>
                                            "Bu restoranın hamburgerleri gerçekten eşsiz! Dün gece burada yedim ve hala aklımda o nefis lezzet var. Köftesi tam anlamıyla mükemmel bir dengede pişmişti, içi yumuşak ama dışı hafifçe kızarmıştı. Ekmeği taze ve yumuşacıktı, üzerindeki sebzeler de oldukça taze ve renkliydi. Servis hızlıydı ve personel son derece nazikti. Ayrıca, fiyatlar da oldukça makuldu. Bir dahaki sefere tekrar gelmeyi sabırsızlıkla bekliyorum. Bu restoranı hamburger tutkunu arkadaşlarıma da kesinlikle tavsiye edeceğim!"
                                        </p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                <img src="~/Templete/burger-master/img/testmonial/3.png" alt="">
                                            </div>
                                            <h4>Deniz Arcak</h4>
                                            <div class="stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial_area_ned  -->
</body>

</html>